/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: os-300;
  src: url(../node_modules/primeng/resources/themes/nova-light/fonts/open-sans-v15-latin-300.ttf) format("opentype");
}
@font-face {
  font-family: os-700;
  src: url(../node_modules/primeng/resources/themes/nova-light/fonts/open-sans-v15-latin-700.ttf) format("opentype");
}

@font-face {
  font-family: os-r;
  src: url(../node_modules/primeng/resources/themes/nova-light/fonts/open-sans-v15-latin-regular.ttf) format("opentype");
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: "os-r";
  background: #f0f0f0;
  overflow: hidden;
}

.sort-icon i.pi {
  font-size: 14px;
}

@media screen and (max-width: 767px) {  /* small size */
  .p-col-show {
    display: block;
  }
  .p-col-hidden {
    display: none;
  }
}


@media screen and (min-width: 768px) {  /* medium size */
  .p-md-show {
    display: block;
  }
  .p-md-hidden {
    display: none;
  }
}
